
!/pz-mod/
!/TrueNightvision/
!.gitignore
!LICENSE

/pz-mod/*
!/pz-mod/42/
/pz-mod/42/*
!/pz-mod/42/mod.info
!/pz-mod/42/poster.png
!/pz-mod/42/media/
/pz-mod/42/media/*
!/pz-mod/42/media/lua/
!/pz-mod/42/media/shared/

/pz-mod/42/media/java/



/TrueNightvision/*
!/TrueNightvision/src/
!/TrueNightvision/build.gradle

/TrueNightvision/.gradle/
/TrueNightvision/build/

*.class
*.jar
*.zbs